<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @point.content %>
</p>

<p>
  <b>Published:</b>
  <%= @point.published %>
</p>

<p>
  <b>Link:</b>
  <%= @point.link %>
</p>

<%= link_to 'Edit', edit_post_point_path(@post, @point) %> |
<%= link_to 'Back', post_points_path(@post) %>
<%= link_to 'Back', post_path(@post) %>
